EXPO_PUBLIC_WEB3AUTH_CLIENT_ID=YOUR_WEB3AUTH_CLIENT_ID
EXPO_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
EXPO_PUBLIC_WEB3AUTH_VERIFIER=banter-app-dev
EXPO_PUBLIC_WEB3AUTH_REDIRECT_URL=banterv3://login
EXPO_PUBLIC_API_BASE_URL=https://sportbanter.online/api
EXPO_PUBLIC_S3_BUCKET_NAME=baze-bucket
EXPO_PUBLIC_S3_REGION=eu-north-1
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
EXPO_PUBLIC_ROLLEY_SERVICE_URL=http://localhost:8090
EXPO_PUBLIC_MOVEMENT_EXPLORER_BASE=https://explorer.movementnetwork.xyz
EXPO_PUBLIC_MOVEMENT_EXPLORER_NETWORK=testnet
EXPO_PUBLIC_MOVEMENT_RPC_URL=https://testnet.movementnetwork.xyz/v1
EXPO_PUBLIC_MOVEMENT_SETTLEMENT_MODULE_ADDRESS=
EXPO_PUBLIC_MOVEMENT_ROL_DECIMALS=8
